body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4e2da;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    margin: 0;
}

h1 {
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 5rem;
    color: #feb9b9;
    text-shadow: 0 0 8px #fa668b88;
}

#imageInput {
    padding: 0.5rem;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 10px;
    border: #DEDAF4;
    border-style: dashed;
    background-color: #D9EDF8;
    color: #000000;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: background-color 0.3s ease;
}

#imageInput:hover {
    background-color: #E4F1EE;
}

#paletteContainer {
    width: 100%;
    max-width: 600px;
    text-align: center;
}

#paletteContainer p {
    margin-bottom: 1rem;
    font-style: italic;
    font-family: ;
    font-size: 1.5rem;
    color: #babaff;
}

.palette {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.color-swatch {
    width: 120px;
    height: 120px;
    border-radius: 16px;
    box-shadow: 0 0 10px #0008 inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
    color: #fff;
    transition: transform 0.2s ease, box-shadow 0.2 ease;
    position: relative;
}

.color-swatch:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px #cad8ff, 0 0 30px #617bfb67 inset;
}

.color-hex {
    margin-top: 0.5rem;
    font-family: monospace;
    font-size: 1.1rem;
    text-shadow: 0 0 4px #0008;
}